/* :root {
	font-size: 62.5%;
} */

* {
	box-sizing: border-box;
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 30px;
	font-family: sans-serif;
}

.disabled {
	display: none;
}

.modal_form {
	position: absolute;
	width: 90vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	background: rgba(128, 128, 128, 0.9);
}

.login_form {
	background: whitesmoke;
	width: 500px;
	padding: 1rem;
	font-size: 2rem;
}

.form_group {
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

.label {
	margin-right: 1rem;
	color: darkcyan;
}

.input {
	padding: 2px 5px;
	border: 1px solid black;
}

.input_error {
	border: red 3px solid;
}

.error_msg {
	font-size: 1.1rem;
	color: white;
	margin-top: 5px;
	background: red;
	padding: 3px;
}

.btn_submit {
	padding: 5px 15px;
	border-radius: 1rem;
	background: dodgerblue;
}

.error_button {
	background: gray;
}
